@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  /* height: 100vh; */
  background: rgba(25, 25, 25);
}


/* NAVBAR */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 40rem;
}

.navbar ul {
  display: flex;
  width: 280px;
}

.navbar ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  /* border: 1px solid red; */
}

.navbar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navbar ul li a .icone {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #000;
}

.navbar ul li.ativo a .icone {
  transform: translateY(-35px);
}

.navbar ul li a .texto {
  position: absolute;
  color: #000;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: .5s;
  opacity: 0;
  transform: translateY(20px);
}

.navbar ul li.ativo a .texto {
  opacity: 1;
  transform: translateY(10px);
}

.icone {
  cursor: pointer;
}


.bd {
  border: 1px solid red;
}

.indicador {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #008CBA;
  border-radius: 50%;
  border: 1px solid #008CBA;
  transition: .5s;
}

.indicador::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  /* box-shadow: 0 -10px 0 0 rgba(25, 25, 25); */
}

.indicador::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  /* box-shadow: 0 -10px 0 0 rgba(25, 25, 25); */
}

.navbar ul li:nth-child(1).ativo~.indicador {
  transform: translateX(calc(70px * 0));
}

.navbar ul li:nth-child(2).ativo~.indicador {
  transform: translateX(calc(70px * 1));
}

.navbar ul li:nth-child(3).ativo~.indicador {
  transform: translateX(calc(70px * 2));
}

.navbar ul li:nth-child(4).ativo~.indicador {
  transform: translateX(calc(70px * 3));
}


/* CABEÇALHO */
.digito {
  /* position: absolute; */
  width: 100%;
  height: 50rem;
}

/* TEXTO DIGITANDO */
.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: "Special Elite", monospace;
  font-size: 3em;
  text-align: center;
  margin: 6em auto;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 16em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}


/*========== SCROLL UP ==========*/

.scrollup
{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    color: #008CBA ;
    opacity: .8;
    padding: .5rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
}

.scrollup:hover
{
    color:  #016e93;
}

.scrollup__icon
{
    font-size: 3rem;
    /* color: #FFF; */
}

/* Show scroll */

.show-scroll
{
    bottom: 5rem;
}





.icone-contato {
  font-size: 40px;
  padding: 2rem;
  color: #fff;
}

.icone-contato:hover {
  font-size: 40px;
  padding: 2rem;
  color: #008CBA;
  transition: .2s;
}

.perfil {
  width: 100%;
  height: auto;
  padding: 2rem;
  /* margin-bottom: 30rem; */
  background-color: rgb(199, 199, 199);
  border-radius: .5rem;
}

.projetos {
  width: 100%;
  height: auto;
  padding: 2rem;
  /* margin-bottom: 30rem; */
  background-color: none;
  color: #fff;
  border-radius: .5rem;
}

.contatos {
  width: 100%;
  height: auto;
  padding: 2rem;
  margin-bottom: 15rem;
  background-color: none;
  color: #fff;
  border-radius: .5rem;
}

.home {

  border: 2px solid rgba(25, 25, 25);
}

.grid {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: .5rem;
  counter-reset: div;
}

.grid div {
  /* border: 1px solid red; */
  text-align: center;
  padding: .5rem;
}

/* .grid div:before {
    counter-increment: div;
    content: 'N°' counter(div);
  }
  
  .grid div[class]:after {
    display: block;
    text-align: center;
    background: lightblue;
    content: "Class applied : "attr(class);
    color: crimson;
  } */


.col-2 {
  grid-column: auto/span 2;
}

.col-3 {
  grid-column: auto/span 3;
}

.col-4 {
  grid-column: auto/span 4;
}

.col-5 {
  grid-column: auto/span 5;
}

.col-6 {
  grid-column: auto/span 6;
}

.col-8 {
  grid-column: auto/span 8;
}

.col-12 {
  grid-column: auto/span 12;
}

.row-2 {
  grid-row: auto/span 2;
}



.titulo {
  font-size: 30pt;
  font-style: normal;
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  margin: 1rem auto;
  border: 1px solid #a8a8a8;
  width: 94%;
}

/* IMAGEM DOS PROJETOS EM PROCESSO*/

/* .projeto {
  position: relative; 
   width: 50%;
} */

/* .imagem-projeto {
  display: block;
  width: 100%;
  height: auto;
} */

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.polaroid:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* IMAGEM DOS PROJETOS PRONTOS */

div.polaroid {
  position: relative;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.botao {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  padding: .5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.botao:hover {
  background-color: #008CBA;
  color: white;
}

.subtitulo {
  text-align: center;
  font-weight: normal;
}

.icone-perfil {
  font-size: 50px;
  padding: 1rem 4rem;
  color: rgb(25, 25, 25);
  text-align: center;
  margin: 0;
  /* Added */
  float: none;
  /* Added */
}

.icone-perfil:hover {
  color: #008CBA;
  transition: .2s;
}

#demo .icone-perfil
{
  padding: 1rem;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
}

.black
{
  color: #000;
}

#contatos
{
  margin: 5rem 0 20rem 0;
}

#projetos{
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    grid-column: auto/span 12;
  }
}